/* Global styles */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme */
/*
    Color schemes:
    #423E3B - Black olive
    #FF2E00 - Scarlet
    #FEA82F - Orange
    #FFFECB - Cream
    #4338C8 - Iris
*/
:root {
    --primary-color: #fffecb;
    --secondary-color: #fea82f;
    --tertiary-color: #ff2e00;
    --primary-text-color: #423e3b;
    --contrast-text-color: #4338c8;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #423e3b;
        --primary-text-color: #fffecb;
        --contrast-text-color: #4338c8;
    }
}

.global-theme-container {
    background: var(--primary-color);
    color: var(--primary-text-color);
}

.global-theme-container a,
.global-theme-container a:visited {
    color: var(--secondary-color);
}

/* @media (prefers-color-scheme: dark) {
    .global-theme-container {
        background: #423e3b;
        color: #fffecb;
    }
} */
